@import "tailwindcss";
@plugin "daisyui/theme" {
    name: "shopprtheme-light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #E4B343;
    --color-primary-content: oklch(0% 0 0);
    --color-secondary: #22223B;
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: #F4F1DE;
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: #403D39;
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: #81B29A;
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: #2f855a;
    --color-success-content: oklch(98% 0.003 247.858);
    --color-warning: #FFC302;
    --color-warning-content: oklch(21% 0.006 285.885);
    --color-error: #E76F51;
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
  }
  
@plugin "daisyui"  {
    themes: light --default, dark --prefersdark, shopprtheme-light;
}


